.main {
  height: 100%;
}
.section1 {
  min-height: 100vh;
  background-color: #f3e7d1;
  padding: 4rem;
}

.banner {
  position: relative;
}

.banner img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.bannerCaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f3e7d1;
  background-color: #212529;
  padding: 0.2rem 2rem;
}

.serviceheading p {
  font-size: 1.2rem;
}

.servicediv {
  background-color: white;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicediv p {
  font-size: 1.2rem;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.imageContainerParent {
  padding: 0;
  background-color: pink;
  margin: 0;
}

.image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: fill;
}

.section5 {
  background-color: #191919;
  color: #f3e7d1;
  padding: 1rem 2rem;
  border-bottom: 2px solid #926011;
}

.btn1 {
  height: 3rem;
  background-color: #b97a15;
  width: 10rem;
  border-radius: 0.2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.btn1:hover {
  background-color: #926011;
}

@media only screen and (max-width: 767px) {
  .servicediv {
    margin-bottom: 1rem;
    text-align: center;
    padding: 2rem;
  }

  .serviceheading p {
    text-align: center;
  }

  .imageContainer {
    margin-bottom: 1rem;
  }
}
